<div>
  
  <table ng-table="vm.tableParams"  class="table table-condensed table-bordered table-striped" show-filter="true">
      <tr ng-repeat="user in $data">
          <td title="'Image'">
            <img ng-src="{{user.picture.thumbnail}}"/>
          </td>
          <td title="'First'" filter="{'name.first': 'text'}" sortable="'name.first'">
              {{user.name.first}}
          </td>
          <td title="'Last'" filter="{'name.last': 'text'}" sortable="'name.last'">
              {{user.name.last}}
          </td>
          
          <td title="'Edit'">
              <button>Delete</button>
          </td>
      </tr>
  </table>
  
</div>
